apiVersion: v1
kind: Namespace
metadata:
  name: cilium-ingress
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: wildcard-cert
  namespace: cilium-ingress
spec:
  secretName: wildcard-tls
  dnsNames:
    - "${SSL_LOCAL_DOMAIN}"
    - "*.${SSL_LOCAL_DOMAIN}"
  issuerRef:
    name: cloudflare-clusterissuer
    kind: ClusterIssuer
  privateKey:
    rotationPolicy: Always
---
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: cilium
  namespace: cilium-ingress
spec:
  gatewayClassName: cilium
  addresses:
    - type: IPAddress
      value: ${IP_INGRESS}
  listeners:
    - name: http
      protocol: HTTP
      port: 80
      allowedRoutes:
        namespaces:
          from: All
    - name: https
      protocol: HTTPS
      port: 443
      hostname: "*.${SSL_LOCAL_DOMAIN}"
      tls:
        mode: Terminate
        certificateRefs:
          - kind: Secret
            name: wildcard-tls
      allowedRoutes:
        namespaces:
          from: All
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: https-redirect
  namespace: cilium-ingress
spec:
  parentRefs:
    - name: cilium
      sectionName: http
  rules:
    - filters:
        - type: RequestRedirect
          requestRedirect:
            scheme: https
            statusCode: 301
