---
apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: vault-backend
spec:
  provider:
    vault:
      server: "${VAULT_ADDR}"
      path: "kv/${ENV_NAME}"
      version: "v2"
      auth:
        kubernetes:
          mountPath: "${ENV_NAME}-kubernetes"
          role: "external-secrets"
          serviceAccountRef:
            name: "external-secrets"
            namespace: "external-secrets"
---
apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: vault-shared-backend
spec:
  provider:
    vault:
      server: "${VAULT_ADDR}"
      path: "kv/shared"
      version: "v2"
      auth:
        kubernetes:
          mountPath: "${ENV_NAME}-kubernetes"
          role: "external-secrets"
          serviceAccountRef:
            name: "external-secrets"
            namespace: "external-secrets"
